.content {
 display: flex;
 gap: 20px;
 position: relative;
 margin-top: 70px;
}

.overlay {
 width: 100%;
 height: calc(100vh - 72px);
 z-index: 10;
 background-color: rgba(0, 0, 0, 0.6);
 position: absolute;
 top: 72px;
 left: 0;
 cursor: pointer;
}

.unOverlay {
 display: none;
}
